#head-container{
  min-width: 1000px;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, .1);
  position: fixed;
  background-color: white;
  top: 0px;
}
#search-bar{
  width: 50%;
  padding: 0px;
  border-width: 1px 1px;
  border-color: rgba(200, 200, 200, 1);
  border-style: solid;
  height: 37px;
  display: flex;
  min-width: 350px;
  margin-left: auto;
}
#search-bar input[type=text]{
  color: rgba(80, 80, 80, 1);
  width: 85%;
  height: 35px;
  border: 1px 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  border: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: rgba(200, 200, 200, 1);
}
#search-bar input[type=text]:focus{
  outline: none;
}
#search-bar button{
  color: rgba(130, 130, 130, 1);
  width: 15%;
  background: rgba(130, 130, 130, 0.1);
  height: 35px;
  margin: 0px;
  border: none;
}
#search-bar button:focus{
 outline: none;
}
#search-bar button:active{
  border: none;
  outline-width: 1px;
  outline-color: black;
  color: rgba(30, 30, 30, 1);
}
#logo{
margin: 0px;
width: 15%;
}
#logo img{
  height: 50px;
}
#botton-container{
  height: 35px;
  margin: auto;
  min-width: 100px;
}
#user-menu{
  margin-left: 20px;
  margin-left: auto;
}
#user-menu text{
  font-size: 15px;
  margin-right: 20px;
}
#user-menu button{
  width: 100px;
  background: rgba(250, 250, 250, 1) !important;
}
#user-menu button:focus{
outline: none;
}
