
.video-card{
  width: 400px;
  max-height: 400px;
  align-content: center;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-img{
  padding: 5px;
  width: 100%;
  text-align: center;
}

.video-card-detail{
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  white-space: pre-line;
}

.video-card-detail a{
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.video-card-detail p{
  color: rgb(180, 180, 180);
  font-size: 12px;
  margin-bottom: 5px;
  white-space: pre-line;
}
#comments{
  width: 100%;
  margin-left: auto;
  margin-right: 0px;
  overflow-x: hidden;
  text-align: justify;
  color: white;
  max-height: 70vh;
  padding-right: 15px;
  padding-left: 15px;
  height: inherit;
}
#comment-container{
  overflow-y: hidden;
  color: black;
  max-height: 79vh;
  margin-top: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 40px;
}
#comment-header{
  font-size: 20px;
  border: 1px;
  border-color: rgb(150, 150, 150);
  border-bottom-style: solid;
  margin-left: 0px;
  padding: 5px;
}
.comment{
}
.comment h3{
  font-size: 18px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: #7dcdb9;
}
.comment p{
  font-size: 14px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px;
  border-left-style: solid;
  color: black;
   white-space: pre-line;
}
#video-detail-container {
  width: 100%;
  display: flex;
  /* border: 2px solid black; */
  height: 90vh;
  min-width: 1500px;
}
#video-list-container{
  position: relative;
  display: flex;
  width: 100%;
  min-width: 1500px;
}
#main-video{
  margin-right: -10px;
  padding-bottom: 0px;
  min-width: 1200px;
  border-bottom: solid;
  border-color: rgb(150, 150, 150);
  border-width: thin;
}
#main-video iframe{
  border: 0px;
  width: 100%;
  height: 80vh;
}
#input-comment{
  padding: 10px;
  font-size: 12px;
  text-align: left;
}
#can-submit{
  border-style: none;
  background: white !important;
}
#can-submit:focus{
  border-style: none;
  background: white !important;
  outline-style: none;
}
#cannot-submit{
  color: rgb(200, 200, 200);
  border-style: none;
  background: white !important;
}
#cannot-submit:focus{
  border-style: none;
  background: white !important;
  outline-style: none;
}
#input-comment textarea:focus{
  border-color: black;
  outline-style: none;
  transition: .5s;
}
#input-comment textarea{
  transition: .5s;
  width: 70%;
  margin-left: 10px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-color: rgb(150,150,150);
  margin-right: 10px;
}
#input-comment img{
  width: 35px;
}
#video-info{
  text-align: left;
  font-size: 12px;
}
#video-info h3{
  font-size: 15px;
  color: rgb(100, 100, 100)
}
#video-detail{
  text-align: left;
  height: 85vh;

}
#video-detail h2{
  font-size: 25px;
}
