
.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.head-container{
  display: flex;
  margin: 10px;
  /* border: 1px solid black */
}


.signup-button {
  position: relative;
  float: left;
  margin-left: 30%;
  margin-top: auto;
  margin-bottom: auto;
}

.login-button {
  position: relative;
  float: left;
  margin-left: 5%;
  margin-top: auto;
  margin-bottom:auto;
}

.logout-button {
  position: relative;
  float: left;
  margin-left: 30%;
  margin-top: auto;
  margin-bottom: auto;

}

#bottom-container {
  margin-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}



.head-contain {
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
}

.video-list-container {
  margin-left: 20px;
  width: 30vw;
  height: 90vh;
  /* border: 2px solid black; */

}

.video-list-container .video-item{
  display: flex;
  margin: 10px;
}

.video-detail {
  margin: 10px;
  height: 65vh;
  /* border: 2px solid black; */
}


.video-detail .center{
  margin: auto;
}


.float-left{
  float:left;
}

/* #leftCol {
  overflow-y: scroll;
  top: 0;
  bottom: 0;
} */
#default-list-container{
  display: grid;
  width: 100%;
  margin-top: 50px;
}
#default-list-container .video-card{
  width: 20%;
  text-align: left;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  white-space: pre-line;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom-style: solid;
  border-width: thin;
  border-color: rgb(180, 180, 180);
  position: relative;
  float: left;
}
#default-list-container .video-card-detail a{
  color: black;
  font-weight: bold;
  font-size: 15px;
}
#default-list-container .video-card-detail p{
  color: rgb(180, 180, 180);
  font-size: 12px;
  margin-bottom: 5px;
  white-space: pre-line;
  text-align: left;
}
#default-list-container .video-card-detail{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 0px;
  white-space: pre-line;
}
.default-list{
  display: flex;
  width: 100%;
}
#default-list-container .video-img{
  padding: 0px;
  width: 100%;
  text-align: center;
}
